# Entornos virtuales
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Variables de entorno
.env
.env.*

# Git
.git
.gitignore

# IDEs
.vs
.vs/
**/.vs
**/.vs/*
.vscode/

# Otros
README.md
agents-poc/